.content-distance {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 100vw; */
  height: 100vh;
  background-image: url('../../assets/img/velocidade.jpg');
  background-size: cover;
}

.container-distance {
  background-color: rgba(0, 0, 0, 0.774);
  padding: 2rem;
  margin: 2rem;
}

.container-distance div {
  /* width: 700px; */

}

.input-distance input{
  /* margin: 5px;/ */
  background: none;
  border: 1px solid #494949;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}
.input-distance button {
  /* margin: 5px; */
  background: none;
  border: 1px solid #494949;
  padding: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.input-distance button:hover{
  background: #9e9e9e;
  cursor: pointer;


}
.res-distance p:nth-child(3) {
  margin: 1rem;
  width: 100%;
}

.res-distance p:nth-child(4) {
  font-size: 20px;
}