.content-distance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/velocidade.jpg');
  background-size: cover;
  gap: 5px;
}

.content-distance .container {
  background-color: rgba(0, 0, 0, 0.774);
  padding: 2rem;
  margin: 2rem;
}

.content-distance .container div {
  font-size: larger;
}

.content-distance .container .input-container input,
button {
  padding: .5rem;
  margin: 1rem .5rem;
  margin-left: 0;
  flex-direction: row-reverse;
}