.content-coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/real.jpg');
  background-size: cover;
  gap: 5px;
}

.container-coin {
  background-color: rgba(0, 0, 0, 0.849);
  padding: 2rem;
  margin: 2rem;
}

.container-coin div {
  font-size: 20px;
}

.input-coin input:nth-child(1) {
  padding: .5rem;
  margin: 0 10px;

}

.input-coin button,
input {
  padding: 1rem;
  margin: 20px;
  margin-left: 0;
}