header {
  background-color: rgb(30, 24, 54);
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: .1rem;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
}

header a:hover {
  background-color: rgb(55, 44, 99);
}